body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: radial-gradient(
    circle at 65.16% 17.49%,
    #8c7799 0,
    #7a6492 16.67%,
    #63528b 33.33%,
    #474084 50%,
    #1d307e 66.67%,
    #002478 83.33%,
    #001b72 100%
  );
  background-attachment: fixed; /*Deja fijo el background*/
  flex-wrap: wrap;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
